.content-list {
    margin-left: 220px;
    margin-right: 220px;
    background-color: #ffffff;
 }

.subject-top {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 60px;
    margin: 5px 0 0 30px;
}

.subject-font{
    color: #ffffff;
}

.login {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    float: right;
    outline: none !important;
    line-height: 60px;
    margin-right: 10px;
}

.while-color{
    color: #ffffff
}

.h-archive-list {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px dotted #dedede;
    border-width: 1px 0;
}

.article-author {
    color: #10D07A;
    /*font-size: 1.4rem;*/
    font-size: 13px;
}

.article-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.article-meta {
    font-size: 10px;
    margin-bottom: 15px;
}

.article-summary {
    font-size: 15px;
    margin-bottom: 15px;
}

footer .copyright {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
}

.page-foot {
    background-color: #218868;
    /*background-color: #1C2B36;*/
    height: 100px;
    width: 100%;
    min-width: 320px;
    padding: 0 32px 0 40px;
}

.bottom-logo{
    margin-top: 15px;
}

footer.scrolled {
    background-color: rgba(0,0,0, 0.85)
}

.video {

}

.video:hover{
    cursor:pointer;
    /*background: url(../img/player.png);*/
    /*z-index: 100;*/
}

.content-wrap {
    padding: 0;
    position: absolute;
    text-align: center;
    width: 205px;
    height: 105px;
    top: 15px;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.content-play-wrap {
    padding: 0;
    position: absolute;
    text-align: center;
    width: 80%;
    height: 85px;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.content-play-wrap h1.entry-title {
    display: table;
    font-size: 110%;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
    margin:0;
}

.content-wrap h1.entry-title {
    display: table;
    font-size: 110%;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
    margin:0;
}

.featured-image {
    display: table-cell;
    position: relative;
    transition: opacity .25s ease-in-out, background .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    vertical-align: middle;
    z-index: 1;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    padding: 10%;
}
.featured-image:hover {
    opacity: 0.5;
    color: #fff;
    background: rgba(0,0,0,0.5);
    cursor:pointer;
}

.video-title{font-size:14px;
    width:200px;
    display:block;
    overflow:hidden;
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;}
